.search-wrapper{
    background: #fff;
    min-height: 72px;
    display: flex;
    overflow: hidden;
    padding-left:30px;
    margin: 60px 0;
}
.search-wrapper div{
    display: flex;
    align-items: center;
    width: 100%;
}
.search-wrapper div svg{
    font-size:  20px;
    color:gray;
}

.search-imput{
    height: 100%;
    border: none;
    flex:1;
    outline: none;
    font-size: 20px;
    text-indent: 10px;
}
.search-btn{
    background: #002f34;
    color:#fff;
    padding: 0 30px;
    font-size: 18px;
    display: flex;
    align-items:center;
    gap: 10px;
    border:none;
}